services:
  xiaozhi-esp32-server:
    build:
      context: ../..
      dockerfile: Dockerfile-server
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/gcp_sa.json
      - GOOGLE_CLOUD_PROJECT=composed-augury-469200-g6
      - TZ=America/Los_Angeles
      - MQTT_URL=mqtt://mqtt:1883
      - PYTHONUNBUFFERED=1
    volumes:
      - ./data/.gcp/sa.json:/run/secrets/gcp_sa.json:ro
      - ./data:/opt/xiaozhi-esp32-server/data
      - ./:/opt/xiaozhi-esp32-server
    ports:
      - "8000:8000"
      - "8003:8003"
    depends_on:
      - mqtt
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "2"
        compress: "true"

  mqtt:
    image: eclipse-mosquitto:2.0
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf:ro